header {
  display: flex;
  justify-content: space-between;
  background-color: #333331;
  padding: 25px 50px;
}

header nav {
  display: flex;
  gap: 50px;
  align-items: center;
}

header nav ul{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 24px;
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}

.btn {
  padding: 10px 20px;
  background-color: white;
  border-radius: 8px;
  font-size: 28px;
}